In [186]:
import pandas as pd
import numpy as np

In [187]:
movies=pd.read_csv('IMDb Movies India.csv')

In [188]:
movies.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,NaN,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 SSmin,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [189]:
movies=movies[['Name','Year','Genre','Director','Actor 1','Actor 2','Actor 3']]

In [190]:
movies.head()

,Name,Year,Genre,Director,Actor 1,Actor 2,Actor 3
0,NaN,NaN,Drama,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),Drama,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),"Drama, Musical",Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),"Comedy, Romance",Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),Drama,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [191]:
movies.isnull().sum()

Name           1
Year         528
Genre       1877
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [192]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15508 non-null  object
 1   Year      14981 non-null  object
 2   Genre     13632 non-null  object
 3   Director  14984 non-null  object
 4   Actor 1   13892 non-null  object
 5   Actor 2   13125 non-null  object
 6   Actor 3   12365 non-null  object
dtypes: object(7)
memory usage: 848.3+ KB

In [193]:
movies=movies.dropna(subset=['Name'])

In [194]:
movies_cleaned_data.isnull().sum()

Name           0
Year         527
Genre       1877
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [195]:
movies_cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15508 entries, 1 to 15508
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15508 non-null  object
 1   Year      14981 non-null  object
 2   Genre     13631 non-null  object
 3   Director  14983 non-null  object
 4   Actor 1   13891 non-null  object
 5   Actor 2   13124 non-null  object
 6   Actor 3   12364 non-null  object
dtypes: object(7)
memory usage: 1.5+ MB

In [196]:
movies_cleaned_data=movies.copy()

In [197]:
movies['Year']=movies_cleaned_data['Year'].fillna(0)
movies['Genre']=movies_cleaned_data['Genre'].fillna('Missing')
movies['Actor 1']=movies_cleaned_data['Actor 1'].fillna('Missing')
movies['Actor 2']=movies_cleaned_data['Actor 2'].fillna('Missing')
movies['Actor 3']=movies_cleaned_data['Actor 3'].fillna('Missing')
movies['Director']=movies_cleaned_data['Director'].fillna('Missing')

In [198]:
movies.head

<bound method NDFrame.head of                                      Name    Year                   Genre  \
1      #Gadhvi (He thought he was Gandhi)  (2019)                   Drama
2                             #Homecoming  (2021)          Drama, Musical
3                                 #Yaaram  (2019)         Comedy, Romance
4                       ...And Once Again  (2010)                   Drama
5                    ...Aur Pyaar Ho Gaya  (1997)  Comedy, Drama, Musical
...                                   ...     ...                     ...
15504                 Zulm Ko Jala Doonga  (1988)                  Action
15505                               Zulmi  (1999)           Action, Drama
15506                           Zulmi Raj  (2005)                  Action
15507                       Zulmi Shikari  (1988)                  Action
15508                        Zulm-O-Sitam  (1998)           Action, Drama

                 Director           Actor 1                 Actor 2  \
1           Gaurav Bakshi      Rasika Dugal          Vivek Ghamande
2      Soumyajit Majumdar      Sayani Gupta       Plabita Borthakur
3              Ovais Khan           Prateik              Ishita Raj
4            Amol Palekar      Rajat Kapoor      Rituparna Sengupta
5            Rahul Rawail        Bobby Deol  Aishwarya Rai Bachchan
...                   ...               ...                     ...
15504       Mahendra Shah  Naseeruddin Shah           Sumeet Saigal
15505          Kuku Kohli      Akshay Kumar          Twinkle Khanna
15506          Kiran Thej   Sangeeta Tiwari                 Missing
15507             Missing           Missing                 Missing
15508        K.C. Bokadia        Dharmendra              Jaya Prada

               Actor 3
1        Arvind Jangid
2           Roy Angana
3      Siddhant Kapoor
4          Antara Mali
5        Shammi Kapoor
...                ...
15504    Suparna Anand
15505      Aruna Irani
15506          Missing
15507          Missing
15508      Arjun Sarja

[15508 rows x 7 columns]>

In [199]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15508 entries, 1 to 15508
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15508 non-null  object
 1   Year      15508 non-null  object
 2   Genre     15508 non-null  object
 3   Director  15508 non-null  object
 4   Actor 1   15508 non-null  object
 5   Actor 2   15508 non-null  object
 6   Actor 3   15508 non-null  object
dtypes: object(7)
memory usage: 969.2+ KB

In [200]:
movies.head

<bound method NDFrame.head of                                      Name    Year                   Genre  \
1      #Gadhvi (He thought he was Gandhi)  (2019)                   Drama
2                             #Homecoming  (2021)          Drama, Musical
3                                 #Yaaram  (2019)         Comedy, Romance
4                       ...And Once Again  (2010)                   Drama
5                    ...Aur Pyaar Ho Gaya  (1997)  Comedy, Drama, Musical
...                                   ...     ...                     ...
15504                 Zulm Ko Jala Doonga  (1988)                  Action
15505                               Zulmi  (1999)           Action, Drama
15506                           Zulmi Raj  (2005)                  Action
15507                       Zulmi Shikari  (1988)                  Action
15508                        Zulm-O-Sitam  (1998)           Action, Drama

                 Director           Actor 1                 Actor 2  \
1           Gaurav Bakshi      Rasika Dugal          Vivek Ghamande
2      Soumyajit Majumdar      Sayani Gupta       Plabita Borthakur
3              Ovais Khan           Prateik              Ishita Raj
4            Amol Palekar      Rajat Kapoor      Rituparna Sengupta
5            Rahul Rawail        Bobby Deol  Aishwarya Rai Bachchan
...                   ...               ...                     ...
15504       Mahendra Shah  Naseeruddin Shah           Sumeet Saigal
15505          Kuku Kohli      Akshay Kumar          Twinkle Khanna
15506          Kiran Thej   Sangeeta Tiwari                 Missing
15507             Missing           Missing                 Missing
15508        K.C. Bokadia        Dharmendra              Jaya Prada

               Actor 3
1        Arvind Jangid
2           Roy Angana
3      Siddhant Kapoor
4          Antara Mali
5        Shammi Kapoor
...                ...
15504    Suparna Anand
15505      Aruna Irani
15506          Missing
15507          Missing
15508      Arjun Sarja

[15508 rows x 7 columns]>

In [213]:
'''import ast
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['Name'])
        
    return L

In [222]:
'''movies['Genre']=movies['Genre'].apply(lambda x:[i.replace(" ","")for i in x])
movies['Director']=movies['Director'].apply(lambda x:[i.replace(" ","")for i in x])
movies['Actor 1']=movies['Actor 1'].apply(lambda x:[i.replace(" ","")for i in x])
movies['Actor 2']=movies['Actor 2'].apply(lambda x:[i.replace(" ","")for i in x])
movies['Actor 3']=movies['Actor 3'].apply(lambda x:[i.replace(" ","")for i in x])

In [224]:
# Convert lists to strings if needed and then concatenate
'''movies['tags'] = (
    movies['Genre'].apply(lambda x: ' '.join(x) if isinstance(x, list) else str(x)) + ' ' +
    movies['Year'].apply(str) + ' ' +
    movies['Director'].apply(lambda x: ' '.join(x) if isinstance(x, list) else str(x)) + ' ' +
    movies['Actor 1'].apply(str) + ' ' +
    movies['Actor 2'].apply(str) + ' ' +
    movies['Actor 3'].apply(str)
)

In [233]:
import ast

# Step 1: If needed, convert from string to list of dicts
def convert(obj):
    if isinstance(obj, str):
        try:
            parsed = ast.literal_eval(obj)
            return [i['name'] for i in parsed if isinstance(i, dict) and 'name' in i]
        except:
            return []
    elif isinstance(obj, list):
        return [i['name'] for i in obj if isinstance(i, dict) and 'name' in i]
    return []

# Apply conversion only if data is in JSON-like string format
for col in ['Genre', 'Director', 'Actor 1', 'Actor 2', 'Actor 3']:
    movies[col] = movies[col].apply(convert)

# Step 2: Remove spaces inside genre/actor/director names
for col in ['Genre', 'Director', 'Actor 1', 'Actor 2', 'Actor 3']:
    movies[col] = movies[col].apply(lambda x: [i.replace(" ", "") for i in x])

# Step 3: Create tags column
movies['tags'] = (
    movies['Genre'].apply(lambda x: ' '.join(x)) + ' ' +
    movies['Year'].astype(str) + ' ' +
    movies['Director'].apply(lambda x: ' '.join(x)) + ' ' +
    movies['Actor 1'].apply(lambda x: ' '.join(x)) + ' ' +
    movies['Actor 2'].apply(lambda x: ' '.join(x)) + ' ' +
    movies['Actor 3'].apply(lambda x: ' '.join(x))
)

In [234]:
movies.tags

1         (2019)
2         (2021)
3         (2019)
4         (2010)
5         (1997)
            ...
15504     (1988)
15505     (1999)
15506     (2005)
15507     (1988)
15508     (1998)
Name: tags, Length: 15508, dtype: object

In [235]:
new_df=movies[['Name','tags']]

In [236]:
new_df.head()

                                 Name         tags
1  #Gadhvi (He thought he was Gandhi)   (2019)
2                         #Homecoming   (2021)
3                             #Yaaram   (2019)
4                   ...And Once Again   (2010)
5                ...Aur Pyaar Ho Gaya   (1997)